<div>
<style type="text/css">
.tabs ul{list-style:none;padding:0;margin:0}
.tabs li{float:left;border:1px solid #bbb;border-bottom-width:0;margin:0}
.tabs li a{text-decoration:none;display:block;background:#eee;padding:0.24em 1em;color:#00c;width:8em;text-align:center}
.tabs .selected{border-color:black}
.tabs .selected a{position:relative;top:1px;background:white;color:black;font-weight:bold}
.demo{margin-top:50px;padding-bottom:10px;padding-top:34px}
.timeline-content{text-align:center}
.timeline-content h3{}
.timeline-content img{height:200px;margin-left:auto;margin-right:auto}
.clear:before,.clear:after{content:" ";display:table}
.clear:after{clear:both}
.clear{*zoom:1}
.gt-timeline{position:relative;width:960px;height:120px;border:0px solid red;font-family:'Helvetica Neue',Helvetica,Arial,serif;text-shadow:0 1px 0 rgba(255,255,255,0.8);color:#6d6d6d;margin-left:auto;margin-right:auto}
.gt-timeline div.main_line{border:none;border-top:3px solid #666666;clear:both;height:0;width:100%;position:absolute;top:50px;left:14px;z-index:0}
.gt-timeline div.event{border:1px #fff solid;background:url(../img/main_img.png) no-repeat 0 -84px;width:12px;height:46px;top:30px;background-color:#23b7e5;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-left:-5px;cursor:pointer;position:absolute;z-index:2}
.gt-timeline div.active{border:1px #fff solid;background:url(../img/main_img.png) no-repeat 0 -84px;width:12px;height:46px;top:30px;background-color:#2623e5;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin-left:-5px;cursor:pointer;position:absolute;z-index:2}
.gt-timeline div.selected{}
.gt-timeline div.e-message{background-color:#666666;position:absolute;top:70px;color:white}
.gt-timeline div.e-message .msg{width:300px;padding:5px;font-size:12px;text-shadow:0 0 0;cursor:pointer;z-index:100;position:relative}
.gt-timeline div.e-message .info{padding:5px;font-size:11px;text-shadow:0 0 0;cursor:auto;z-index:100;position:relative;font-weight:bold;border-bottom:1px dashed #999999;position:default}
.gt-timeline div.e-message .message-pointer{background:url(../img/main_img.png) no-repeat 0 -122px;width:14px;height:18px;position:absolute;top:-11px;z-index:1}
.gt-timeline .icon-close{background:url(../img/main_img.png) no-repeat -3px -227px;background-color:#999999;width:14px;height:14px;position:absolute;top:5px;right:7px;cursor:pointer}
.gt-timeline div.event:hover{background-position:-27px -84px}
.gt-timeline div.horizontal-line{border:0px;border-left:3px solid #666666;clear:both;height:20px;width:0px;position:absolute;z-index:1;top:30px}
.gt-timeline div.leftend{left:14px}
.gt-timeline div.rightend{right:0}
.gt-timeline .leftend .year{background-color:azure;border:1px #428bca solid;position:relative;min-width:35px;text-align:center;top:-65px;left:-15px}
.gt-timeline .leftend .month{position:relative;text-align:center;top:50px;left:-25px;white-space:nowrap}
.gt-timeline div.month-line{height:15px;border-left:2px solid #666666}
.gt-timeline div.even-month{top:37px}
.gt-timeline div.even-month .month{position:relative;top:-18px;left:-10px;white-space:nowrap}
.gt-timeline div.odd-month{top:41px;height:10px;border-left:1px solid #999999}
.gt-timeline .year,.gt-timeline .month{font-size:12px}
.gt-timeline .year{font-weight:bold}
</style>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>

<div class="longDemo demo" encoding="utf-8">
    <div id="longTimeLine">
        <!--<h2>{{tagList.length}}</h2>-->
        <div id="main_line_container"class="gt-timeline"style="width:90%">
            <div id="main_line"class="main_line"style="width:100%"></div>
            <div ng-repeat="tag in tagList">
                <div ng-repeat="ad in tag.ad_list">
                    <div class="horizontal-line leftend" style="left: {{ad.time_precent}}%;">
                        <div class="month">{{ad.start_time_format}}</div>
                        <div class="year">{{tag.tag}}</div>
                        <div class="year">{{ad.brand}}</div>
                    </div>
                    <div ng-class="{true:'event active ',false:'event'}[ad.active == true]" ng-click="click($parent.$index, $index)" tooltip-animation="false" tooltip-html-unsafe="<h4>{{tag.tag}}</h4><h4>{{ad.brand}}</h4><h5>{{ad.start_time_format}}</h5>" data-html="true" class="event" style="left: {{ad.time_precent}}%;"></div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
</div>
